<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Recipe Book</a>
    </div>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="'active'">
        <a [routerLink]="['recipes']">Recipe</a>
      </li>
      <li [routerLinkActive]="'active'">
        <a [routerLink]="['shopping-list']">Shopping List</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Manage
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a>Fetch Data</a>
          </li>
          <li>
            <a>Send Data</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>