<app-shopping-list-edit>
    <form class="form-inline" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="recipeName">Recipe Name:</label>
                    <br>
                    <input type="text" class="form-control" id="recipeName" name="recipeName" ngModel>
                </div>


            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <br>
                    <input type="number" class="form-control" id="recipeQuantity" name="recipeQuantity" ngModel>
                </div>
            </div>

            <div class="col-md-6">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Add</button>&nbsp;
                <button type="button" class="btn btn-default" [ngStyle]="dangerStyle">Delete</button>&nbsp;
                <button type="button" class="btn btn-default">Clear</button>
            </div>
            <div class="col-md-6"></div>
        </div>
    </form>
</app-shopping-list-edit>