<app-header (featureSelected)="onSelect($event)"></app-header>
<div class="container" style="padding-top: 70px">
    <div [ngSwitch]="selectedNav">
        <div class="row" *ngSwitchCase="'Recipe'">
            <div class="col-md-12">
                <!-- <app-recipe *ngIf="(selectedNav === 'Recipe')"></app-recipe> -->
                <app-recipe></app-recipe>
            </div>
        </div>
        <div class="row" *ngSwitchCase="'Shopping-list'">
            <div class="col-md-12">
                <!-- <app-shopping-list *ngIf="selectedNav !== 'Recipe'"></app-shopping-list> -->
                <app-shopping-list></app-shopping-list>
            </div>
        </div>
    </div>
</div>